In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
s = df['Name'][0:10]

In [5]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [6]:
len(s)

10

In [7]:
type(s)

pandas.core.series.Series

In [8]:
l = ['a','b','c','d','e','f','g','x','y','z']

In [9]:
s1 = pd.Series(list(s),index=l)

In [10]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [11]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
x                       Palsson, Master. Gosta Leonard
y    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
z                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [12]:
s[0]

'Braund, Mr. Owen Harris'

In [13]:
s[5]

'Moran, Mr. James'

In [16]:
s[9]

'Nasser, Mrs. Nicholas (Adele Achem)'

In [20]:
s1["z"]

'Nasser, Mrs. Nicholas (Adele Achem)'

In [21]:
s1["a"]

'Braund, Mr. Owen Harris'

In [23]:
s2 = s1.append(s)

/tmp/ipykernel_119/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [24]:
s2[0]

'Braund, Mr. Owen Harris'

In [25]:
s2["a"]

'Braund, Mr. Owen Harris'

In [27]:
s4 = pd.Series([3,4,5,6,5,6],index=[2,4,5,5,6,6])

In [28]:
s5 = pd.Series([34,54,36,645,75] , index=[2,3,4,5,6])

In [30]:
s6 = s4.append(s5)

/tmp/ipykernel_119/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [31]:
s6

2      3
4      4
5      5
5      6
6      5
6      6
2     34
3     54
4     36
5    645
6     75
dtype: int64

In [34]:
s6[4]

4     4
4    36
dtype: int64

In [35]:
s6[0:5]

/tmp/ipykernel_119/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    3
4    4
5    5
5    6
6    5
dtype: int64

In [36]:
s4

2    3
4    4
5    5
5    6
6    5
6    6
dtype: int64

In [37]:
s5

2     34
3     54
4     36
5    645
6     75
dtype: int64

In [38]:
s4*s5

2     102.0
3       NaN
4     144.0
5    3225.0
5    3870.0
6     375.0
6     450.0
dtype: float64